* {
    margin: 0px;
    padding: 0px;
    font-family: 'SF Mono', 'Cascadia Mono', Menlo, Consolas, 'Courier New', monospace;
    cursor: default;
}

html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(160deg, rgba(60,0,85,1) 0%, rgba(0,0,159,1) 50%, rgba(0,255,230,1) 120%);
}

h1 {
    font-size: 72pt;
}

h5 {
    font-size: 42pt;
}

h6 {
    font-size: 32pt;
}

.card, .card>* {
    cursor: pointer;
}

.small {
    font-size: 24pt;
}

.main {
    width: 100%;
    min-height: 700px !important;
    height: 100%;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

#top {
    height: 100%;
}

.heading {
    border: 0;
    padding: 0;
    color: white;
    font-weight: bold;
}

.titles {
    padding: 5% 10% 0% 10%;
}

#bio-summary {
    text-align: left;
    color: white;
    padding: 10%;
}

#middle {
    text-align: center;
}

#middle-heading {
    padding-top: 1em;
}

#card-deck {
    height: 30%;
    margin-top: 4em;

}

.card {
    display: inline-block;
    width: 30%;
    height: 100%;
    vertical-align: top;
    color: black;
    border: 1px solid #fafafa;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.card:hover {
    background-color: white;
    box-shadow: 0px 0px 12px -4px #444444;
    transform: scale(1.1);
}

.card p {
    margin-top: 1em;
}

.links {
    list-style-type: none;
}

.link {
    display: inline-block;
    font-size: 16pt;
    transition-duration: 0.2s;
    padding: .4em;
}

.link:hover {
    background: #d3d3d352;
    border-radius: 4px;
    cursor: pointer;
}

.link>a:hover, .link>a:visited:hover {
    color: white;
    cursor: pointer;
}

.link>a, .link>a:visited {
    color: white;
    text-decoration: none;
}

#push, #footer {
    width: 100%;
    text-align: center;
}

#list-container {
    position: relative;
    text-align: left;
}
