<!doctype html>
<html ng-app="battleship" lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="battleshipApp.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>BATTLESHIP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="battlectrl">
    <div class="container">
        <h4>Opponent</h4>
        <table class="board">
            <tr>
                <td class="cell" ng-repeat="index in range(0,10)">{{index | noZeroes}}</td>
            </tr>
            <tr ng-repeat="row in oppBoard.board">
                <td class="cell">{{row[0].r}}</td>
                <td class="cell" ng-repeat="cell in row" ng-click="currentPlayer < 0 || fire(cell.r, cell.c, oppBoard)" ng-class="{'hitCell': cell.hitInd == true, 'missCell': cell.hitInd == false}" ng-disabled="currentPlayer < 0"></td>
            </tr>
        </table>
        <h4>Mine</h4>
        <table class="board">
            <tr>
                <td class="cell" ng-repeat="index in range(0,10)">{{index | noZeroes}}</td>
            </tr>
            <tr ng-repeat="row in myBoard.board">
                <td class="cell">{{row[0].r}}</td>
                <td class="cell" ng-repeat="cell in row" ng-class="{'hitCell': cell.hitInd == true, 'missCell': cell.hitInd == false}"></td>
            </tr>
        </table>
    </div>
</body>
</html>