h1 {
    font-family: "Helvetiva Neue", Arial, sans-serif;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
}

#player {
    width: 20px;
    height: 20px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    font-size: 8pt;
    color: white;
}

#wumpus {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

#gold {
    width: 20px;
    height: 20px;
    background-color: gold;
    box-shadow: 0px 2px 4px -1px #444444;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}